<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Youtube Demo</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="signInStatus===false" (click)="handleAuthClick()"><a href="#"><span class="glyphicon glyphicon-log-in"  ></span>Login</a></li>
      <li *ngIf="signInStatus===true" (click)="handleAuthClick()"><a href="/"><span class="glyphicon glyphicon-log-out"  ></span>Logout</a></li>
      <li *ngIf="signInStatus===true"><a routerLink="/myvideo"><span class="glyphicon glyphicon-user"></span>My Videos</a></li>
      <li *ngIf="signInStatus===true"><a routerLink="/upload"><span class="glyphicon glyphicon-upload"></span>Upload Video</a></li>
    </ul>
  </div>
</nav>
